package-lock.json
node_modules/
dist/
keyAndCert
keyAndCert/
.env
.env.linux
migrations-folder/
music/
**/streaming/*.*
compose.yaml
public/*.js
public/*.js.LICENSE.txt
public/*.css
public/index.html
.pnpm-debug.log
pnpm-lock.yaml
info/
