@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand, Times New Roman';
}

.playlistBar {
  scrollbar-gutter: stable
}

.playlistBar::-webkit-scrollbar {
  height: 1px;
  background-color: grey;
  color: grey;
}

.playlistBar::-webkit-scrollbar-track {
  width: 1px;
  background: rgb(36, 0, 33);
  background: linear-gradient(90deg, rgba(36, 0, 33, 1) 0%, rgba(121, 9, 117, 1) 50%, rgba(128, 0, 255, 1) 100%);
}

.playlistBar::-webkit-scrollbar-thumb {
  position: relative;
  width: 1px;
  background-color: white;
  color: white;
  background: linear-gradient(270deg, transparent, white, transparent)
}

.playlistBar::-webkit-scrollbar-thumb::after {
  content: '';
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 100px;
  height: 100px;
  background: radial-gradient(white, #3984ff00 80%);
  opacity: 0.3;
}

.collectionList  {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.collectionList::-webkit-scrollbar {
  width: 1px;
  background-color: grey;
  color: grey;
}

.collectionList::-webkit-scrollbar-thumb {
  position: relative;
  width: 1px;
  background-color: white;
  color: white;
  background: linear-gradient(180deg, transparent, white, transparent)
}

.collectionList::-webkit-scrollbar-thumb::after {
  content: '';
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 100px;
  height: 100px;
  background: radial-gradient(white, #3984ff00 80%);
  opacity: 0.3;
}

.collectionList::-webkit-scrollbar-track {
  width: 1px;
  background: rgb(36, 0, 33);
  background: linear-gradient(0deg, rgba(36, 0, 33, 1) 0%, rgba(121, 9, 117, 1) 50%, rgba(128, 0, 255, 1) 100%);
}

.desktopWindow {
  animation: moveBack cubic-bezier(0.175, 0.885, 0.32, 1.275) 5s infinite;
  background-size: 200%;
}

@keyframes rainbow {100%,0%{
  background-color: rgb(255,0,0);
}
8%{
  background-color: rgb(255,127,0);
}
16%{
  background-color: rgb(255,255,0);
}
25%{
  background-color: rgb(127,255,0);
}
33%{
  background-color: rgb(0,255,0);
}
41%{
  background-color: rgb(0,255,127);
}
50%{
  background-color: rgb(0,255,255);
}
58%{
  background-color: rgb(0,127,255);
}
66%{
  background-color: rgb(0,0,255);
}
75%{
  background-color: rgb(127,0,255);
}
83%{
  background-color: rgb(255,0,255);
}
91%{
  background-color: rgb(255,0,127);
}}

@keyframes rainbowPastel {100%,0%{
  background-color: #fea3aa;
  opacity: 1;
}
8%{
  background-color: #fea3aa;
}
16%{
  background-color: #f8b88b;
  opacity: 0.75;
}
25%{
  background-color: #f8b88b;
}
33%{
  background-color: #faf884;
  opacity: 0.5;
}
41%{
  background-color: #faf884;
}
50%{
  background-color: #baed91;
  opacity: 0.25;
}
58%{
  background-color: #baed91;
}
66%{
  background-color: #b2cefe;
  opacity: .5;
}
75%{
  background-color: #b2cefe;
}
83%{
  background-color: #f2a2e8;
  opacity: .75;
}
91%{
  background-color: #f2a2e8;
}}

.rainbowBorder {
  animation: rainbow linear 5s infinite
}

#main-player.big {
  width: 100%;
  height: 100%;
  grid-template: 10% 60% 17.5% 12.5%/30% 70%
}

#main-player.small {
  width: 100%;
  height: 100%;
  grid-template: 1fr 1fr/50px 1fr
}

#files-player.small {
  width: 100%;
  height: 100%;
  grid-template: 1fr/1fr;
}

#files-player {
  width: 100%;
  height: 100%;
  grid-template: 10% 10% 80%/1fr;
}

@keyframes moveBack {
  0% {
    background-position: 0% center;
  } 50% {
    background-position: -100% center;
  } 100% {
    background-position: 0% center;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0% center;
  } 50% {
    background-position: -100% center;
  } 100% {
    background-position: 0% center;
  }
}

.playlistLabel {
  background: linear-gradient(90deg, rgba(36, 0, 33, 1) 0%, rgba(121, 9, 117, 1) 50%, rgba(36, 0, 33, 1) 100%);
  background-repeat: repeat;
  background-position: 0%;
  background-size: 200%;
  animation: moveBackground normal 5s infinite;
}

.iconButton {
  background-repeat: repeat;
  background-position: 0%;
  background-size: 200%;
  animation: moveBackground normal 5s infinite;
}
